<%= simple_form_for(@shot) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :description %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>