<h1>Shots</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
    <tr>
      <td><%= shot.title %></td>
      <td><%= shot.description %></td>
      <td><%= shot.user_id %></td>
      <td><%= link_to 'Show', shot %></td>
      <td><%= link_to 'Edit', edit_shot_path(shot) %></td>
      <td><%= link_to 'Destroy', shot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>